<!DOCTYPE html>
<html>
  <head>
    <title>Errors</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="/static/css/globalerror.css">
    <script type="text/javascript" src="static/js/globalerror.js"></script>
  </head>

  <body onLoad="fillPrepIDs()">
    <div>
      <img id="loading" src="/static/img/loading.gif" alt="Loading...">
      <table id="errortable" border="3" style="border-collapse: collapse;">
      </table>
      <div id="workflows">
        Workflows: (Click on a row to begin)
      </div>
    </div>
  </body>
</html>
