<!DOCTYPE html>
<html>
  <head>
    <title>4D Errors</title>
    <%include file="rotation_tables.html"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script type="text/javascript" src="static/js/expandtable.js"></script>
    <script type="text/javascript" src="static/js/piechart.js"></script>
    <script>
      var pievar = "${pievar}";
      % if pievar != 'sitename':
      var ready = {
      % for icol, col in enumerate(columns):
      ${col} : "${readiness[icol]}",
      % endfor
      };
      % endif
    </script>
  </head>
  <%!
     import json
     table_data = []
     %>

  <body onload="pieProduction()">
    <table id="errortable" border="3" style="border-collapse: collapse;">
    </table>

    <%def name="errors_row(row_name, row, is_wf, hiddenstuff=None)">
    <%
       table_data.append({'row_name': row_name, 'row': row, 'is_wf': is_wf, 'hiddenstuff': hiddenstuff})
       %>
    </%def>
    % for row_name, row in sorted(errors.items()):
       ${errors_row(row_name, row, False)}
       % for row_name_1, row_1 in sorted(row.get('sub', {}).items(), key=lambda x: x[1]['timestamp']):
         ${errors_row(row_name_1, row_1, True, (0, row_name))}
         % for row_name_2, row_2 in sorted(row_1.get('sub', {}).items()):
           ${errors_row(row_name_2, row_2, False, (1, row_name_1))}
         % endfor
       % endfor
    % endfor
    <span id="table-data" style="display:none;">
    ${json.dumps(table_data)}
    </span>

  <a href="/resetcache">Reset Cache</a> (refresh page after coming back here)

  </body>
</html>
