<!DOCTYPE html>
<html>
  <head>
    <title>4D Errors</title>
    <%include file="rotation_tables.html"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script>
      $(document).tooltip({
        content: function () {
          return $(this).prop('title')
        }
      })
    </script>
    <script type="text/javascript" src="static/js/piechart.js"></script>
    <script type="text/javascript" src="static/js/expandtable.js"></script>
  </head>
  <%
     stringpieinfo = []
     for _, info in sorted(errors.items()):
         for pie in info['errors']:
             stringpieinfo.append(str(pie))
         for _, info_1 in sorted(info.get('sub', {}).items()):
             for pie in info_1['errors']:
                 stringpieinfo.append(str(pie))
             for _, info_2 in sorted(info_1.get('sub', {}).items()):
                 for pie in info_2['errors']:
                     stringpieinfo.append(str(pie))
  %>
  <body onload="drawPieCharts(${','.join(stringpieinfo)});">
    <table border="3" style="border-collapse: collapse;">
      <tr>
        <th style="font-size:125%; text-align:left; padding:15px;">
          <span style="color:#0000ff;">Select a variable for the pie chart <br>(the other two make up the axes):</span>
          <form>
            <%
               pievars = {
                   'stepname' : 'Step Name',
                   'sitename' : 'Site Name',
                   'errorcode' : 'Error Code'
               }
            %>
            % for val, text in pievars.iteritems():
              <input type="radio" name="pievar" value="${val}">${text}<br>
            % endfor
            <input type="submit" value="Submit">
          </form>
        </th>

        % for icol, col in enumerate(columns):
            <% 
               status = ''
               if pievar != 'sitename':
                   status = readiness[icol]
               tot_errors = sum(sum([error['errors'][icol] for error in errors.values()], []))
            %>
            <th class="rotate ${status}" title="Total Errors: ${tot_errors}"><div><span>${col}</span></div></th>
        % endfor

      <%def name="errors_row(row_name, row, is_wf, hiddenstuff=None)">
        <%
           if pievar != 'stepname':
               sub_rows = True

           tot_errors = sum([sum(pie) for pie in row['errors']])
           
           bg_type = ''
           if is_wf:
               if row_name in acted_workflows:
                   bg_type = 'done'
               else:
                   bg_type = 'todo'
           elif hiddenstuff:
               bg_type = 'step'
               row_name = '/'.join(row_name.split('/')[2:])
               sub_rows = False

           if hiddenstuff:
               this_row_level = hiddenstuff[0] + 1
               row_class = 'child_of_%i_%s' % hiddenstuff
           else:
               this_row_level = 0
               row_class = ''
        %>
      % if row_class:
      <tr class="${row_class}" style="display:none;" id="${row_name}">
      % else:
      <tr>
      % endif
        <th class="${bg_type}" title="Total Errors: ${tot_errors}">
          % if sub_rows:
          <table>
            <tr>
              <th>
                <span id="${row_name}_span" onclick="expand_children(this, '${this_row_level}', '${row_name}', false)">&#x25B6;</span>
              </th>
              <th>
          % endif
          % if is_wf:
          <a href="/seeworkflow/?workflow=${row_name}">
            ${row_name}
          </a>
          % else:
            ${row_name}
          % endif
          % if sub_rows:
              </th>
            </tr>
          </table>
          % endif
        </th>

        % for index, pie in enumerate(row['errors']):
          <th title="Total Errors: ${sum(pie)}">
            % if pievar == 'stepname':
              <a href="listworkflows?errorcode=${row_name}&sitename=${columns[index]}" target="blank">
            % endif
            <canvas width="20" height="20" class="piechart"></canvas>
            % if pievar == 'stepname':
              </a>
            % endif
          </th>
        % endfor
      </tr>
      </%def>
      % for row_name, row in sorted(errors.items()):
         ${errors_row(row_name, row, False)}
         % for row_name_1, row_1 in sorted(row.get('sub', {}).items()):
           ${errors_row(row_name_1, row_1, True, (0, row_name))}
           % for row_name_2, row_2 in sorted(row_1.get('sub', {}).items()):
             ${errors_row(row_name_2, row_2, False, (1, row_name_1))}
           % endfor
         % endfor
      % endfor
    </table>
  </body>
</html>
