<!DOCTYPE HTML>
<html lang=en>
  <head>
    <title>Unified Logs</title>
    <link rel="stylesheet" type="text/css" href="static/css/showlog.css">
  </head>

  <body>

    <form>
      Submit another query:
      <input type="text" name="search" value="${search}">
      Module:
      <input type="text" name="module" value="${module}">
      Logs Limit:
      <input type="text" name="limit" value="${limit}">
      <input type="submit">
    </form>

    <table border="3" style="border-collapse: collapse;">
      % for log in logdata['logs']:
        <tr>
          <th width=60px><div class="box ${log['subject']}"></div></th>
          <th>${log['subject']}</th>
          <th>${log['date']}</th>
        </tr>
        <tr>
          <td colspan="3">
              % for line in log['text']:
                ${line} <br>
              % endfor
              <br>
          </td>
        </tr>
      % endfor
    </table>

    <h3>Meta Data:</h3>
    % for line in logdata['meta']:
      ${line} <br>
    % endfor
  </body>

</html>
