<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,user-scalable=yes"/>
    <title>Workflow Errors</title>
    <%include file="rotation_tables.html"/>
    <link rel="stylesheet" type="text/css" href="/static/css/workflow.css">
    <script type="text/javascript">
      var shortlist = [
      % if len(workflowdata['reasonslist'].keys()) != 0:
        "${'","'.join(workflowdata['reasonslist'].keys())}"
      % endif
      ];
      var fullreasons = {
      % for short, long in workflowdata['reasonslist'].iteritems():
        "${short}": "${long}",
      % endfor
      };
      var sitelist = [
        "Auto",
        "T1s",
        "T2s",
      ];
      var param_defaults = {
        "group": "DATAOPS",
      };
      var task_list = [
      % for step, _ in workflowdata['steplist']:
        "${step}",
      % endfor
      ];
    </script>
    <script src="/static/js/addreason.js"></script>
    <script src="/static/js/makeparams.js"></script>
    <style type="text/css">
      td { text-align: center; }
    </style>
  </head>
  <body>
    <%
       sendtotop = '<p><a href="#top">To top</a></p>'
    %>
    <div id="top">

      <center>
        <h1>${workflow}</h1>
        <a href="/globalerror">Global Errors</a> <br>
        <a href="/showlog?search=${workflow}">Workflow logs</a>
      </center>

    </div>

    <hr>

    <div>

      <span style="font-weight:bold;">Workflow Parameters:</span>
      <a href="https://cmsweb.cern.ch/reqmgr2/data/request?name=${workflow}" target="blank">more</a> <br>
      % if params:
      Request Type: ${params['RequestType']} <br>
      % if params.get('SubRequestType'):
      Sub-Request Type: ${params['SubRequestType']} <br>
      % endif
      Memory: ${params['Memory']} <br>
      Estimated Number of Jobs: ${params['TotalEstimatedJobs']}
      % else:
      <span style="color:red;">Problem retrieving info (likely an expired certificate, use link above)</span>
      % endif

    </div>

    <hr>

    <div>

      <div>
        <span style="font-weight:bold;">Tasks with errors:</span> <br>
        % for step, _ in workflowdata['steplist']:
        <a href="#${step}">${step}</a> <br>
        % endfor
      </div>

    % if issuggested:
    </div>
    % else:
      <br style="clear:both;">
      <hr>

      <div>
        <span style="font-weight:bold;">Actions:</span> <br>
        <form name="actionform" method="POST" action="/submitaction">
          <input type="hidden" name="workflows" value="${workflow}">
          % for task, _ in workflowdata['steplist']:
            <%
               submitted_task = '/'.join(task.split('/')[2:])
            %>
            <input type="hidden" name="task_${loop.index}" value="${submitted_task}">
          % endfor
          <%
             actions = {
                 'clone' : 'Kill and Clone',
                 'recover' : 'Recover (ACDC)',
                 'investigate' : 'Other action'
             }
          %>
          % for val, text in actions.iteritems():
          <input type="radio" name="action" onclick="makeParamTable(this);" value="${val}">${text}
          % endfor
          <br>
          
          <div id="actionparams"></div>

          % if len(similar_wfs) != 0:
            <button id="showmulti" type="button">Apply to multiple?</button> <br>
            <div id="multiwfs" style="display:none;">
              <!-- 

               This is something we want to add, but we don't have the information yet!!!
               This way, we can look at groups based on filters if the clustering doesn't look that good.

              <button id="addfilter" type="button" onClick"addFilter()">Add Manual Filter</button> <br>
              <div id="filter" style="display:none;">
                <input type="text" name="wffilter">
                <select name="wffiltertype">
                  <option value="none">Filter Type</option>
                  <option value="campaign">Campaign</option>
                  <option value="type">Type of Workflow</option>
                  <option value="whitelise">Site Whitelist</option>
                  <option value="agent">Agent</option>
                  <option value="wfname">Workflow Name</option>
                </select> <br>
                <button type="button">Apply filter</button> <br>
              </div>
              -->

              <div id="wflist">
                % for wf in similar_wfs:
                <input type="checkbox" name="workflows" value="${wf}"><a target="blank" href="?workflow=${wf}&issuggested=1">${wf}</a> <br>
                % endfor
              </div>
            </div>
          % endif

          <button id="addreason" type="button" onClick="addReason('reasons');">Add Reason</button> <br>
          <div id="reasons"></div>
          <br style="clear:both">
          <input type="submit" value="Submit">
        </form>
      </div>

    </div>

    % endif

    <br style="clear:both;">
    <hr>

    <center>
    % for step, table in workflowdata['steplist']:

    <h2 id="${step}">${step}</h2>
    ${sendtotop}

    <%

       color = {
         'red': '#ef4f4f',
         'yellow': 'yellow',
         'green': '#4fef4f',
         'none': '#ffffff'
       }

    %>

    <table border="3" style="border-collapse: collapse;">
      <tr>
        <th>
        </th>
        % for site, status in zip(workflowdata['allsites'], readiness):
        <th class="rotate" style="background-color: ${color[status]};"><div>${site}</div></th>
        % endfor
      </tr>
      
      % for tablerow, error in table:
      <tr>
        <th><a href="/explainerror?errorcode=${error}&workflowstep=${step}">
            ${error}
        </a></th>
        % for entry in tablerow:
        % if entry == 0:
        <td>${entry}</td>
        % else:
        <td style="background-color:#ef4f4f;">${entry}</td>
        % endif
        % endfor
      </tr>
      % endfor
      
    </table>
    % endfor

    </center>

  </body>

  <script>
    $("#showmulti").click(function () {
      $("#multiwfs").toggle();
    })
  </script>

</html>
