<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,user-scalable=yes"/>
    <title>Workflow Errors</title>
    <%include file="rotation_tables.html"/>
    <link rel="stylesheet" type="text/css" href="/static/css/workflow.css">
    <script type="text/javascript">
      var shortlist = [
      % if len(workflowdata['reasonslist'].keys()) != 0:
        "${'","'.join(workflowdata['reasonslist'].keys())}"
      % endif
      ];
      var fullreasons = {
      % for short, long in workflowdata['reasonslist'].iteritems():
        "${short}": "${long}",
      % endfor
      };
      var sitelist = [
      % for site in sorted(drain_statuses.keys()):
        "${site}",
      % endfor
      ];
      var param_defaults = {
        "group": "production",
      };
      var task_list = [
      % for step, _ in workflowdata['steplist']:
        "${step}",
      % endfor
      ];
      var sites_for_task = {
      % for step, _ in workflowdata['steplist']:
        "${step}": [
        % for site in workflowinfo.site_to_run(step):
          "${site}",
        % endfor
        ],
      % endfor
      };
      var drain_statuses = {
      % for site, stat in drain_statuses.iteritems():
      "${site}": "${stat}",
      % endfor
      };

    </script>
    <script src="/static/js/addreason.js"></script>
    <script src="/static/js/makeparams.js"></script>
    <style type="text/css">
      td { text-align: center; }
    </style>
  </head>
  <body>
    <%
       sendtotop = '<p><a href="#top">To top</a></p>'
    %>
    <div id="top">

      <center>
        <h1>${workflow}</h1>
        <a href="/globalerror">Global Errors</a> <br>
        <a href="http://cms-unified.web.cern.ch/cms-unified/showlog/?search=${workflow}">Workflow logs</a> --
        <a href="http://cms-unified.web.cern.ch/cms-unified/showlog/?search=${workflow}&module=error">errors</a> --
        <a href="https://its.cern.ch/jira/secure/QuickSearch.jspa?searchString=${params['PrepID']}">JIRA tickets</a> --
        <a href="https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=${params['PrepID']}">Production Monitor</a>
      </center>

    </div>

    <hr>

    <div style="float:left; width:50%">

      <span style="font-weight:bold;">Dominant Error Code:</span>
      <a href="/explainerror?errorcode=${mainerror}&workflowstep=/${workflow}">${mainerror}</a>
      <br>
      <span style="font-weight:bold;">Types Of Errors:</span> <br>
      % if classification[0]:
      ${classification[0]}
      % else:
      Not Reported
      % endif
      <br>
      <span style="font-weight:bold;">Recommended Action:</span> <br>
      ${classification[1]}

      % if classification[2]:
      <br>
      <span style="font-weight:bold;">Additional Parameters:</span> <br>
      ${classification[2]}
      % endif

    </div>

    <div>

      <span style="font-weight:bold;">Workflow Parameters:</span>
      <a href="https://cmsweb.cern.ch/reqmgr2/data/request?name=${workflow}" target="blank">more</a>
      <a href="https://cmsweb.cern.ch/reqmgr2/data/request?prep_id=${params['PrepID']}&detail=true" target="blank">Prep ID</a> <br>
      % if params:
      Request Type: ${params['RequestType']} <br>
      % if params.get('SubRequestType'):
      Sub-Request Type: ${params['SubRequestType']} <br>
      % endif
      Memory: ${params['Memory']} <br>
      Estimated Number of Jobs: ${params.get('TotalEstimatedJobs', '?')}
      % else:
      <span style="color:red;">Problem retrieving info (likely an expired certificate, use link above)</span>
      % endif

    </div>

    <hr style="clear: both;">

    <div>

      <div>
        <span style="font-weight:bold;">Tasks with errors:</span> <br>
        % for step, _ in workflowdata['steplist']:
        <a href="#${step}">${step}</a> <br>
        % endfor
      </div>

    % if issuggested:
    </div>
    % else:
      <br style="clear:both;">
      <hr>

      <div>
        <span style="font-weight:bold;">Actions:</span> <br>
        % if last_submitted is None:
        <form name="actionform" method="POST" action="/submitaction">
        % else:
        <form name="actionform" method="POST" action="/submitaction" onsubmit="return confirm('Confirm resubmission!\n\nLast submission at ${last_submitted.strftime('%d %B %Y, %I:%M %p')}')">
        % endif
          <input type="hidden" name="workflows" value="${workflow}">
          % for task, _ in workflowdata['steplist']:
            <%
               submitted_task = '/'.join(task.split('/')[2:])
            %>
            <input type="hidden" name="task_${loop.index}" value="${submitted_task}">
          % endfor
          <%
             actions = {
                 'clone' : 'Kill and Clone',
                 'acdc' : 'ACDC',
                 'recovery' : 'Recovery (not ACDC)',
                 'special' : 'Other action'
             }
             if params['RequestType'] == 'Resubmission':
                 actions.pop('clone')

          %>
          % for val, text in actions.iteritems():
          <input type="radio" name="action" onclick="makeParamTable(this);" value="${val}">${text}
          % endfor
          <br>
          
          <div id="actionparams"></div>

          % if len(similar_wfs) != 0:
            <button id="showmulti" type="button">Apply to multiple?</button> <br>
            <div id="multiwfs" style="display:none;">
              <!-- 

               This is something we want to add, but we don't have the information yet!!!
               This way, we can look at groups based on filters if the clustering doesn't look that good.

              <button id="addfilter" type="button" onClick"addFilter()">Add Manual Filter</button> <br>
              <div id="filter" style="display:none;">
                <input type="text" name="wffilter">
                <select name="wffiltertype">
                  <option value="none">Filter Type</option>
                  <option value="campaign">Campaign</option>
                  <option value="type">Type of Workflow</option>
                  <option value="whitelise">Site Whitelist</option>
                  <option value="agent">Agent</option>
                  <option value="wfname">Workflow Name</option>
                </select> <br>
                <button type="button">Apply filter</button> <br>
              </div>
              -->

              <div id="wflist">
                % for wf in similar_wfs:
                <%
                   acted_class = 'acted' if (wf in acted_workflows) else 'notacted'
                %>
                <input type="checkbox" name="workflows" value="${wf}"><a class="${acted_class}" target="blank" href="?workflow=${wf}&issuggested=1">${wf}</a> <br>
                % endfor
              </div>
            </div>
          % endif

          <button id="addreason" type="button" onClick="addReason('reasons');">Add Reason</button> <br>
          <div id="reasons"></div>
          <br style="clear:both">
          <input type="submit" value="Submit">
        </form>
      </div>

    </div>

    % endif

    <br style="clear:both;">
    <hr>

    <center>
    % for step, table in workflowdata['steplist']:

    <h2 id="${step}">${step}</h2>
    ${sendtotop}

    <table border="3" style="border-collapse: collapse;">
      <tr>
        <th>
        </th>
        % for site, status in zip(workflowdata['allsites'], readiness):
        % if site not in workflowdata['skips'][step]['sites']:
        <th class="rotate ${status}"><div>${site}</div></th>
        % endif
        % endfor
      </tr>
      
      % for tablerow, error in table:
      % if sum(tablerow) != 0:
      <tr>
        <th><a href="/explainerror?errorcode=${error}&workflowstep=${step}">
            ${error}
        </a></th>
        % for index, entry in enumerate(tablerow):
        % if index not in workflowdata['skips'][step]['index']:
        % if entry == 0:
        <td>${entry}</td>
        % else:
        <td style="background-color:#ef4f4f;">${entry}</td>
        % endif
        % endif
        % endfor
      </tr>
      % endif
      % endfor
      
    </table>
    % endfor

    </center>

  </body>

  <script>
    $("#showmulti").click(function () {
      $("#multiwfs").toggle();
    })
  </script>

</html>
